# Git
.git
.gitignore

# Node
node_modules
npm-debug.log

# Jupyter / Data
jupyter_notebooks
jupyter_env
public/uploads
*.ipynb_checkpoints

# Environment
.env
.env.local
.env.docker
myenv

# Docker
Dockerfile
docker-compose.yml
judge0.conf

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Large Directories / Backups
appinventor-sources
appinventor
android-build
docs
backup
imagedata
*_backup*
old_version

# Large Source Folders (Entry/Scratch Source)
entry
scratch
lib_entry
lib_board

# Windows Scripts & Docs (Not needed in Linux Docker)
*.bat
*.cmd
*.ps1
*.md

LICENSE

# System Trash
.Trash*
