<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>QwerFighter ν¬νΈν΄λ¦¬μ¤</title>
  <link rel="stylesheet" href="/portfolio/static/css/style.css">
</head>
<body>
  <h1>π® QwerFighter</h1>
  <p>ν•™μƒ ID: <%= userID %></p>
  <p>κ²μ„ μ„¤λ…: μ μ„ λ¬΄μ°λ¥΄κ³  λ³΄μ¤λ¥Ό μ²μΉν•λ” μ•΅μ… μν… κ²μ„μ…λ‹λ‹¤.</p>
  <img src="/portfolio/games/qwerfighter/image/fighter.png" width="100" />
  <br><br>
  <form action="/portfolio/run/qwerfighter" method="POST">
    <button type="submit">κ²μ„ μ‹¤ν–‰</button>
  </form>
</body>
</html>
